<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender username="console" class="org.apache.log4j.ConsoleAppender">
        <param username="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param username="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger username="biz.bagira.shds">
        <level value="info" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger username="org.springframework.core">
        <level value="info" />
    </logger>

    <logger username="org.springframework.beans">
        <level value="info" />
    </logger>

    <logger username="org.springframework.context">
        <level value="info" />
    </logger>

    <logger username="org.springframework.web">
        <level value="info" />
    </logger>

    <logger username="org.springframework.webflow">
        <level value="debug" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="warn" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
